button {
  padding: 8px 12px;
  color: white;
  background-color: #d86038;
  border: none;
  border-radius: 7px;

  &:hover {
    cursor: pointer;
    background-color: #b43c14;
  }

  &:disabled {
    background-color: gray;
    cursor: initial;
  }
}
