.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #18553e;
  padding: 0.5em 15%;

  &__brand {
    display: flex;
    align-items: center;
    gap: 20px;

    &:hover {
      cursor: pointer;
    }

    &-logo {
      width: 65px;
      height: 65px;
    }
  }

  &__links {
    color: white;
    font-size: 1.3em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__cart {
    position: relative;
    &:hover {
      cursor: pointer;
    }

    &-icon {
      width: 50px;
      height: 50px;
    }

    &-total {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
      font-weight: bold;
    }
  }
}
