.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #18553e;
  padding: 0.5em 15%;

  &__brand {
    display: flex;
    margin: 0;
    color: white;
    align-items: center;
    gap: 20px;
    // flex: 1;

    &-logo {
      width: 65px;
      height: 65px;
      margin: 0;
    }

    &-name {
      margin: 0;
    }

    &-subtitle {
      margin: 0;
    }
  }

  &__links {
    color: white;
    font-size: 1.3em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      text-decoration: none;
    }
  }

  &__cart {
    width: 50px;
    height: 50px;
  }
}
