.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #18553e;
  padding: 0.5em 15%;

  &__brand {
    display: flex;
    color: white;
    align-items: center;
    gap: 20px;

    &:hover {
      cursor: pointer;
    }

    &-logo {
      width: 65px;
      height: 65px;
    }
  }

  &__links {
    color: white;
    font-size: 1.3em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__cart {
    width: 50px;
    height: 50px;

    &:hover {
      cursor: pointer;
    }
  }
}
